body {
	margin: 15px;
}

svg {
  background-color: beige;
  margin: 0 0 15px 0;
}

.circle {
  fill: teal;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
  fill: red;
}

.axis path,
.axis line {
  stroke: red;
}
