body {
	margin: 15px;
}

svg {
  background-color: beige;
  margin: 0 0 15px 0;
}

/* Barchart */
.bar {
  fill: teal;
}

.label {
  font-family: sans-serif;
  font-size: 11px;
}

.barchart .label {
  fill: white;
}

.barchart .label.low {
  fill: black;
}

/* Scatterplot */
.axis text {
  font-family: sans-serif;
  font-size: 11px;
  fill: red;
}

.axis path,
.axis line {
  stroke: red;
}
